<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493104287870-h373fc85oai1dukikguds2uq5ichhpid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493104287870-h373fc85oai1dukikguds2uq5ichhpid</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>493104287870-viudhl3t4qgk387obldfs4isncqgoskm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCYrYG5WxhGLOryeZbgIdpsadBRURzn140</string>
	<key>GCM_SENDER_ID</key>
	<string>493104287870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cachet.apps.mobilityStudyDemo</string>
	<key>PROJECT_ID</key>
	<string>mobilityfeatures</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilityfeatures.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493104287870:ios:e1627f16271ffb2fb0082f</string>
	<key>DATABASE_URL</key>
	<string>https://mobilityfeatures.firebaseio.com</string>
</dict>
</plist>