<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493104287870-s78icd74o2bn6eio7av0g80ct2c9ukq4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493104287870-s78icd74o2bn6eio7av0g80ct2c9ukq4</string>
	<key>API_KEY</key>
	<string>AIzaSyCYrYG5WxhGLOryeZbgIdpsadBRURzn140</string>
	<key>GCM_SENDER_ID</key>
	<string>493104287870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cachet.apps.mobilityDemo</string>
	<key>PROJECT_ID</key>
	<string>mobilityfeatures</string>
	<key>STORAGE_BUCKET</key>
	<string>mobilityfeatures.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493104287870:ios:d0e66c5061affb84b0082f</string>
	<key>DATABASE_URL</key>
	<string>https://mobilityfeatures.firebaseio.com</string>
</dict>
</plist>